.sp-page-header {
    margin-top: 5px;
    margin-bottom: 8px;
}

.sp-card {
    width:220px;
    height:120px;
    border: 1px solid;
    margin: 15px;
}

.sp-card-img {
    width: 40px;
    height: 40px;
    padding-left: 5px;
    float:left;
    align-content: center;
}

.sp-card-title {
    align-content: center;
}

.sp-card-text {
    float:right;
    font-size: 10pt;
    flex-wrap: wrap;
    padding-right: 4px;
}

div.sp-card-text-data, span.sp-card-text-data {
    font-weight: bold;
    width: 120px;
}

.sp-card-text-label {
    margin-right: 4px;
    width: 40px
}

.sp-card-text-label {
    margin-right: 4px;
    width: 20px;
}

.sp-e-session-connect {
    cursor: pointer;
}

div.sp-card-group-top {
    margin-top: 10px;
    height: 15px;
}

div.sp-card-group-middle {
    margin-top: 5px;
    height: 15px;
}

.sp-card-button {
    float:right;
    font-size: 10pt;
    flex-wrap: wrap;
    text-align: right;
    width:100%;
}

span.sp-card-button-span {
    margin-left: 15px;
}

div.sp-usage-text-div {
    margin: 5px;
    width: 170px;
    font-size: 12px;
    /*height: 50px;*/
}

div.sp-usage-text-div-title {
    margin: 5px;
    width: 200px;
    font-size: 14px;
    font-weight: bold;
}

div.sp-usage-text-date {
    float: right;
    font-size: small;
    font-style: italic;
    margin-top: 10px;
}

div.sp-usage-bar-row {
    margin-top: -30px;
}

div.sp-usage-bar {
    margin-top: 20px;
    height: 75px;
    margin-bottom: 10px;
}

div.sp-usage-updated-row {
    margin-top: -45px;
}

div.sp-usage-ram-title, div.sp-usage-cpu-title {
    margin-bottom: -20px;
    font-weight: bold;
    font-size: 13px;
    margin-top: 30px;
}

div.sp-usage-bar > canvas {
    margin-top: -10px;
}

div.sp-usage-session-title {
    font-weight: bold;
    font-size: 13px;
    margin-top: 35px;
    margin-bottom: -20px;
}

span.sp-usage-text {
    color: blue;
    font-weight: bold;
    font-size: 12px;
}

span.sp-usage-placeholder {
    height: 75px;
    margin-top: 5px;
    color: #bcbcbc;
}

span.sp-usage-title-placeholder {
    height: 15px;
    width: 175px;
    margin-top: 5px;
    color: #bcbcbc;
}

.sp-form-button {
    margin-right: 5px;
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
}

.sp-form-button:hover {
    margin-right: 5px;
    background-image: linear-gradient(to bottom,#ccddee 0,#265a88 100%);
}

.sp-header-button {
    float: right;
    margin-right: 5px;
    margin-bottom: 5px;
}

button.sp-reset-button{
    background-image: linear-gradient(to bottom,#e0e0e0 0,#cdcdcd 100%);
    color:black;
}

button.sp-reset-button:hover {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    color:black;
}

select.form-select, input.form-control {
    font-size: 14px;
}

.sp-badge-buffer {
    margin-bottom: 5px;
}

.sp-card-row {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right:15px;
    padding-left: 15px;
    float: left;
}

.sp-card-pill {
    margin-top: 5px;
}


.sp-float-left-full {
    float:left;
    width: 100%;
}

div.sp-card-container {
    float: left;
    width: 300px;
}

div.sp-card-header {
    height: 40px;
}

.sp-session-list-container {
    padding: 10px;
    display: inline-block;
    width: 100%
}

.sp-container {
    padding: 10px;
}

.sp-form-row {
    margin: 5px 0px 5px 0px;
}

option.sp-form
div.sp-form {
    font-size: 14px;
}

.sp-form-label {
    font-weight: bold;
}

.sp-form-placeholder {
    height:1.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
    border-radius: 0.25rem;
    opacity: .35%;
}

.sp-card-placeholder {
    margin-top: 2px;
}

.sp-card-placeholder-usage {
    height: 200px;
}

.sp-button-placeholder {
    height:1.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
    font-size: .875rem;
    border-radius: 0.25rem;
    margin-right: 5px;
    width: 67px;
}

.sp-align-right {
    float: right;
    align: right;
}

.sp-button-placeholder-row {
    opacity: .45;
}

div.sp-emptylist-card {
    background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
    font: 18px;
    color: darkgray;
    height: 200px
}

.sp-place-holder-type {
    width: 54px;
    float: right;
}

span.sp-title-placeholder {
    height: 150px;
}

/* Needed to apply the correct opacity on the Placeholder elements */
p.sp-form-p, div.sp-form-p {
    margin-bottom: 0px;
    opacity: .45;
}

.sp-button-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

div.progress {
    height: 8px;
}

.sp-session-button {
    margin-left: 15px;
    font-size: 15pt;
    color: #265a88;
    cursor: pointer;
}

.sp-pending {
    opacity: 60%;
    pointer-events: none;
}

.sp-pending-cursor {
    cursor: progress;
}


div.sp-session-pending {
    opacity: 50%;
    cursor: default;
}

.sp-session-list-panel {
    background-colour: #ededed;
}

.sp-panel-body {
    padding-top: 0px;
    background-image: linear-gradient(to bottom, #dddd 0, #ededed 100%);
}

div.sp-title {
    font-size: 18px;
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

div.canfar-header {
    background-color: white;
    width : 100%;
}

body {
    height: 100%;
}

/* Authentication modal css */
div.sp-auth-form-title {
    font-size: 18px;
}

div.sp-auth-form-body, div.sp-auth-form-body.input {
    font-size: 14px;
}

.sp-body {
    background-color: #e7e7e7;
    /* set component to 100% of the viewport height (vh) */
    height:100vh;
    width:100vw;
}

/* banner css */

.sp-warning-card {
    border: solid;
    border-color: gold;
    margin-bottom: 5px;
}

.sp-warn-heading {
    background-color: #fee243;
    background-image: none;
    padding: 12px 15px;
}

.sp-warn-body {
    background-color: #fffcee;
    padding: 5px 15px 0px 15px;
}


/* launch form classes */

.sp-form-label {
    margin-top: 5px;
    float: right;
}

.sp-placeholder {
    color: darkgrey;
    opacity: 0.25;
}

.sp-btn-success {
    background-image: linear-gradient(to bottom,#5cb85c 0,#419641 100%);
}

div.sp-modal-header {
    font-size: 18px;
    font-weight: bold;
}


/* remove the Navdropdown caret as there's a button used for
this nav dropdown rendering */
#authenticated_nav_dropdown::after{
    display: none;
}

.sp-buffer-span-right {
    margin-right: 5px;
}

.sp-buffer-span-left {
    margin-left: 5px;
}

a.nav-link {
    font-size: 14px;
    color: #343a40;
}



/* Tooltip styling */
.sp-b-tooltip > .tooltip-inner {
    color:black;
    background-color: darkgray;
}

.sp-b-tooltip > .tooltip.bottom .tooltip-arrow {
    background-color: darkgray;
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: darkgray;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: darkgray;
}


.sp-error-msg {
    color: red;
}

/* below this line is the existing/old science-portal css */
.sp-panel-heading {
    /*padding: 1px 20px;*/
    background-color: white;
}

/* Override bootstrap panel default background image */
.panel > .panel-heading {
    background-image: linear-gradient(to bottom, #ffffff 0, #f5f5f5 100%);
}

.sp-panel {
    background-color: #e7e7e7;
    background-image: none;
    border-color: #ccc;
}

.sp-progress-bar {
    width: 100%;
    height: 8px;
    margin-bottom: 5px;
}

.sp-progress-bar-container {
    height: 8px;
    /*background-image: linear-gradient(to bottom, #ffffff 0, #ffffff 100%);*/
    margin-bottom: 0px;
}

.form-group {
    margin-bottom: 5px;
}

.sp-listpage-header {
    margin-left: 10px;
    margin-top: 5px
}

.sp-header-navbar {
    margin-bottom: 0px;
    width: 100%;
    min-height: 40px;
}

.sp-form-input {
    height: 36px;
}

.sp-form-cursor {
    cursor: pointer;
}

.sp-form-info {
    padding-top: 7px;
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.sp-display {
    margin-top: 8px;
}

.sp-msg-text {
    text-align: center;
    font-weight: bold;
}

.sp-optional-text {
    font-style: italic;
    font-size: x-small;
}

.sp-modal-footer-info-link {
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}

.glyphicon.fast-right-spinner {
    -webkit-animation: glyphicon-spin-r 1s infinite linear;
    animation: glyphicon-spin-r 1s infinite linear;
}

@-webkit-keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin-r {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.spinner-span {
    margin-left:50px;
}

.sp-session-spinner {
    margin-right:10px;
}

/* Bootstrap Glyphicon and Popover styling */
/* todo: move this to canfar-root when cadc.tooltip.js goes over */

.popover-blue {
    color:mediumblue;
    margin-left: 4px;
}

.popover-right {
    float:right;
}

.popover {
    max-width: 200px;
    min-width: 200px;
}

.popover-info {
    margin-top:10px;
    margin-bottom:10px;
    color:mediumblue;
}

.glyphicon-question-sign, .glyphicon-remove-circle:hover {
    cursor: pointer;
}


/* Session List styling */

.sp-session-add {
    color: gray;
    background-color: #e6e6e6;
}

.sp-session-help-text {
    font-size: 15px;
}

/* nav link element class (session list) - old */
.sp-session-link {
    /*text-align: center!important;*/
    /*font-size: 24px;*/
    margin-right: 5px;
    margin-bottom: 15px;
    width: 270px;
}

/* nav link title - not part of link */
.sp-session-name {
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
}

.sp-session-panel-body {
    padding-left: 10;
    padding-bottom: 0;
}

/* nav link box */
.sp-session-connect {
    overflow: hidden;
}

/* nav link title (below icon */
.sp-session-link-type {
    text-align: center!important;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.sp-button-bar {
    padding: 5 10 5 10;
    border: none;
    background-color: #ffffff;
}

/* add session button just below session list */
.sp-button-bar-button {
    border: none;
    background-color: #ffffff;
}

.sp-icon-desktop {
    margin-top: 10px;
    margin-bottom: 5px;
}

.sp-icon-img {
    width: 35px;
    height: 35px;
}



body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
Specific to themes.
*/

body.theme-src span.display-name {
    font-size: 1.5em;
}




